div{
    background-size: 80% 100%;
    background-position: 50%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 80px;
}
p{
    font-size: 8px;
}
img{
    width: 50%;
}